
<footer class="bg-dark text-center text-white">

    <div class="container p-2">
  

      <section class="mb-1">
        <a class="btn btn-primary btn-floating m-1" 
            style="background-color: #3b5998" 
            href="{{persona.facebook}}" role="button"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-primary btn-floating m-1" 
            style="background-color: #55acee" 
            href="{{persona.twitter}}" role="button"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-primary btn-floating m-1" 
            style="background-color: #0082ca" 
            href="{{persona.linkedin}}" role="button"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-primary btn-floating m-1" 
            style="background-color: #333333" 
            href="{{persona.github}}" role="button"><i class="fab fa-github"></i></a>
      </section>

  
    </div>

    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright: Ltizzi terlizzileonardo@gmail.com
    </div>

  </footer>
