body {
    min-width: 20%;
    background-image: url('/assets/galaxy4k.jpg');
    background-color: rgb(175, 186, 192);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    font-family:  Roboto,  'Helvetica Neue', sans-serif;

}
html {
    font-size: 16px;
}
html, body { height: 100%; }

@media (max-width:900px) {
    html{
        font-size: 1rem;
    }
}
